.darkmode-test-wrapper{
  --jb-popover-bg-color: rgb(53, 46, 46);
  --jb-input-border-radius:6px;
  --jb-input-bgcolor:#0E1418;
  --jb-input-border-bottom-width:1px;
  --jb-input-value-color:#C4C2D6;
  --jb-calendar-color:#C4C2D6;
  --jb-calendar-arrow-fill-color:#FF9900;
  --jb-calendar-arrow-button-bgcolor:rgb(53, 46, 46);
}
.rtl{
  
}