@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css");

.page-wrapper{
    display:flex;
    flex-direction:column;
    padding-top:64px;
    width:calc(100% - 64px);
    max-width:1200px;
    margin: 0 auto;
    height:100vh;
    font-family: 'Vazir',tahoma, arial;
    direction:ltr;
  }
  @media (max-width:768px) {
    .page-wrapper{
      text-align: center;
      align-items:center;
    }
  }
  .component-wrapper{
    width:500px;
    max-width: calc(100% - 64px);
    direction: rtl;
  }
  .gregorian{
    direction:ltr
  }
  .custom-style{
    --jb-date-input-border-radius:0;
    --jb-date-input-border-color:#888;
    --jb-date-input-border-color-focus:#000;
    --jb-date-input-bgcolor:#fff;
    --jb-date-input-message-box-color:blue;
    --jb-date-input-border-bottom-width:1px;
    --jb-date-input-label-font-size	:1.3em;
    --jb-date-input-value-color:#434343;
    --jb-date-input-value-font-size:1.3em;
    --jb-date-input-calender-wrapper-bg-color:#fefefe;
    --jb-date-input-calender-wrapper-border-radius:0;
    --jb-calendar-arrow-button-border-radius:0;
  }
  .ltr-dir{
    direction: ltr;
  }
  .desc{
    margin-top:16px;
    font-size:0.7em;
    color:#888;
  }
  