jb-date-input.terminal-style {
    display: block;
    width: 100%;
    --jb-date-input-calendar-icon-color: var(--jb-text-secondary);
    --jb-date-input-calendar-icon-color-active: var(--jb-focus-color);
}

jb-date-input.terminal-style::part(popover) {
    --jb-popover-bg-color: var(--jb-calendar-surface-bg, var(--jb-surface));
    --jb-popover-border-radius: 0.25rem;
    --jb-popover-padding: 1rem;
    --jb-popover-z-index: 1000;
    filter: drop-shadow(0 0.5rem 0.75rem oklch(0% 0 0 / 0.32));
}
